// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix {
  clear: both;
}

nav {
  .row {
    .nav {
      height: 4rem;
      padding-top: 1rem;

      .container {
        .nav-element {
          margin-left: 1rem;
        }
      }
    }
  }
}

.photo {
  padding: 1rem;
}
