<nav>

  <div class="row">

    <div class="nav navbar-default">

      <div class="container">

        <%= link_to 'Home', root_path %>

        <% if session[:name].present? %>

          <%= link_to 'Upload', new_photo_path, class: 'nav-element' %>
          <%= link_to 'Sign Out', logout_path, method: :delete, class: 'nav-element' %>

        <% else %>

          <%= link_to 'Sign In', login_path, class: 'nav-element' %>

        <% end %>

      </div>

    </div>

  </div>

</nav>
